anytime
assertthat
class
curl
data.table
DT
dygraphs
fable
feasts
forecast
foreign
formattable
futile.logger
geojsonio
geojsonR
geojsonsf
ggthemes
googleVis
gridExtra
httr
jsonlite
KernSmooth
knitr
knitrProgressBar
lattice
leaflet
lubridate
maptools
mapview
nlme
nnet
openxlsx
plotly
raster
RColorBrewer
RcppRoll
readxl
rgdal
rgeos
rlang
rmapshaper
scales
seasonal
sf
shiny
shinyBS
shinydashboard
shinyjs
shinyLP
smooth
sp
stlplus
stringi
textutils
tidyselect
tidyverse
tmap
tsibble
urca
utils
wellknown
XML
xts
zoo

