shiny
shinyjs
shinydashboard
shinyBS
shinyLP
tmap
leaflet
RColorBrewer
plotly
tidyverse
googleVis
scales
knitr
rlang
stringi
tidyselect
geojsonsf
geojsonio
jsonlite
httr
curl
assertthat
knitrProgressBar
futile.logger
utils
DT
textutils
readxl
openxlsx 
anytime

